.collegeCard {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 40px auto;
	padding: 40px 0;
}

.collegeCard > div:nth-child(1) {
	background-color: lightgreen;
	height: 50%;
}

.collegeCard > div:nth-child(2) {
	background-color: black;
	color: white;
	height: 50%;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2vw;
}

.studentsTitle {
	font-family: "Nunito", sans-serif;
	font-size: 3vw;
}

.similarTitle {
	font-family: "Nunito", sans-serif;
	font-size: 3vw;
}

.portfolio {
	width: 50%;
	text-align: center;
	padding: 10% 0;
	background-color: lightgreen;
	border-left: 2px solid black;
	border-radius: 0 25px 25px 0;
}

.portfolio > p {
	font-family: "Nutito", sans-serif;
	font-size: 2vw;
}

@media (max-width: 500px) {
	.collegeCard {
		width: 80%;
	}
	.collegeCard > div:nth-child(2) {
		font-size: 3vw;
	}
	.studentsTitle,
	.similarTitle {
		font-size: 5vw;
	}
}
